h1 {
    font-family: 'righteous', sans-serif;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    color: salmon;
    background-color: #111;
    text-align: center;
    padding: 24px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-left: 32px;
    font-family: 'righteous', sans-serif;
}

nav {
    background-color: salmon;
    padding: 16px;
}

nav ul {
    display: flex;
    gap: 32px;
}

a {
    color: #111;
}

img {
    max-width: 100%;
    margin: 16px 0px;
    display: flex;

}


header {
    border-bottom: 2px solid #111;
    position: relative;
    overflow: hidden;
}

ul {
    color: #495057;
    font-family: sans-serif;
    margin-left: 64px;
}

ul li {
    margin-bottom: 12px;
}

main ul li:first-child {
    margin-top: 12px;
}

footer {
    background-color: #cec9c9;
    text-align: center;
    padding: 24px;
}

table {
    margin: 40px;

}

table * {
    border: 1px solid #111;
    padding: 12px;
}

tbody td {
    background-color: salmon;
}

table th,
table tfoot tr {
    background-color: grey;
}

#tableBody td:last-of-type {
    background-color: grey;
    border-top: none;
}

